@use "global" as *;

.faq__title{
    font-size: rem(24);
    font-weight: $medium;
    text-align: center;
    color: $gray;
    @include mq(md){
        font-size: rem(36);
    }
}

.faq__inner{
    max-width: rem(1220);
    margin: auto;
    padding: 0 rem(25);
    @include mq(md){
        padding: 0 rem(30);
    }
}

.faq__items{
    border: solid 1px $gray;
    border-radius: rem(16);
    margin-top: rem(40);
    padding: rem(24) 0 ;
    @include mq(md){
        margin-top: rem(48);
        padding: rem(55) 0 ;
    }
}

.faq__item{
    max-width: rem(902);
    margin: auto;
}

.faq__item + .faq__item{
    margin-top: rem(8);
}