@use "global" as *;

.footer{
    padding: rem(76) 0 rem(68);
    background-color: #fffacd;
    font-size: rem(24);
}

.footer__inner{
    height: inherit;

    @include mq(md){
        padding-right: rem(38);
    }
}

.footer__line{
    border-bottom: solid 1px $black ;
    padding-bottom: rem(61);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    width:rem(102) ;
    position: relative;/* z-indexをきかせるため */
    z-index: 9999;
    @include mq(md){
        width: rem(133);
    }
}

.footer__nav {
	height: inherit;
}

.footer__list {
    height: inherit;
	display: flex;
}

.footer__item {
	height: inherit;
}

.footer__item a {
    height: inherit;
	display: flex;
    justify-content: center;
    align-items: center;
	padding:0 min(1.38vw, 20px);
}


.footer__item a:hover {
	opacity: 1;
}

.footer__wrapper {
	position: relative;
    text-align: center;
}

.footer__text {
	display: block;
}

.footer__bottom{
    margin-top: rem(217);
    display: flex;
    justify-content: space-between;
}

.footer__button{
    margin-top: rem(73);
}


.footer__button-text{
    position: relative;
	background-color: red;
	border: rem(1) solid red;
	color: $white;
	display: inline-block;
    padding: rem(15) 0;
    width: rem(369);
	font-size: rem(14);
	font-weight: normal;
	line-height: calc(22/14);
	text-align: center;
	transition: color 0.2s;
	z-index: 1;
    cursor: pointer;
}
