@use "global" as *;

.footer{
    padding: rem(40) 0;
    background: $grade-second;
    font-size: rem(16);
    letter-spacing: 0.05em;
    @include mq(md){
        padding: rem(76) 0 rem(58);
        font-size: rem(24);
    }
}

.footer__inner{
    height: inherit;
    max-width: rem(1450);
    margin: 0 auto;
    padding: 0 rem(25) 0 rem(30);
}

.footer__line{
    @include mq(md){
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px red ;
        padding: 0 rem(48) rem(61) rem(10);
    }
}

.footer__logo {
    width:rem(107) ;
    position: relative;/* z-indexをきかせるため */
    z-index: 9999;
    padding-left: rem(10);
    @include mq(md){
        width: rem(200);
    }
}

.footer__nav {
	height: inherit;
}

.footer__list {
    height: inherit;
	display: flex;
    gap: 0 rem(20);
    margin-top: rem(19);
    padding: rem(40) rem(18) 0 rem(5);
    border-top: solid 1px red ;
    @include mq(md){
        gap: 0 rem(52);
        margin-top: 0;
        padding: 0 ;
        border: none ;
    }
}

.footer__item {
	height: inherit;
}

.footer__item a {
    height: inherit;
	display: flex;
    align-items: center;
}


.footer__item a:hover {
	opacity: 1;
}

.footer__wrapper {
	position: relative;
    text-align: center;
}

.footer__text {
	display: block;
    color: $gray;
}

.footer__bottom{
    margin-top: rem(159);
    display: grid;
    @include mq(md){
        margin-top: rem(217); 
    } 
}

.footer__company{
    padding-left: rem(5);
    color: $gray;
    @include mq(md){
        padding: 0;
    }
}

.footer__company-span{
    font-size: rem(16);
    @include mq(md){
        font-size: rem(36);
    }
}




//ボタンの設定
.footer__button{
    margin-top: rem(40);
    margin-left: auto;
    @include mq(md){
        margin-top: rem(34);
    }
}

.footer__button-text{
    position: relative;
    background: $grade-third;
    border: rem(1) solid transparent; // グラデーションを使用する場合、ボーダーを透明に
	color: $white;
	display: inline-block;
    padding: rem(3.5) 0;
    width: rem(242);
	font-size: rem(16);
	font-weight: normal;
	text-align: center;
	transition: color 0.2s;
	z-index: 1;
    border-radius: rem(4);
    cursor: pointer;
    @include mq(md){
        font-size: rem(24);
        width: rem(369);
        padding: rem(11) 0;
    }
}

.footer__button-text span {
	padding-right: rem(32);
	position: relative;
}

.footer__button-text span::after {
	background-image: url(../images/common/footer-botton-logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 46%;
    right: 0;
    width: rem(13);
	height: rem(13);
	transform: translateY(-50%);
	transition: 0.2s background-color;
    @include mq(md){
        width: rem(21.75);
        height: rem(21.75);
    }
}



a:hover {
    @include mq(md){
        opacity: 0.5;
    }
}
