@use "global" as *;

.header-sp{
    background-color: #E7E7E7;
}


.header-sp__bg{
    background-image: url(../images/common/header-sp.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: rem(100);
}

.header-sp__inner{
    height:rem(75) ;
    margin: auto;
    padding: 0 rem(25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-sp__logo{
    width: rem(89);
    height: rem(18);
}


.header-sp__button {
    position: relative;
    display: inline-block;
    text-align: center;
    width: rem(147);
    padding: rem(8.7) 0;
    color: white;
    background: $grade-third;
    border: 1px solid transparent;
    font-size: rem(8.92); 
    font-weight: normal;
    margin-top: rem(5);
    transition: color 0.2s;
    z-index: 1;
    border-radius: rem(45);
    border-bottom: 3px solid #EC4A77;
    cursor: pointer;
}

.header-sp__button span {
    position: relative;
    margin-left: rem(-24);
}

.header-sp__button span::after {
    background-image: url(../images/common/faq-button-left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    top: 51%;
    right: rem(-25);
    width: rem(16);
    height: rem(16);
    transform: translateY(-50%);
    transition: 0.2s background-color;
}

.header-sp__button:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.header-sp__button:hover{
    transition: 0.3s;
}

